.radar-chart .area {
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.area.germany, .germany .circle {
  fill: #FFD700;
  stroke: none;
}
.area.argentina, .argentina .circle {
  fill: #ADD8E6;
  stroke: none;
}

.area.anger, .anger .circle {
  fill: red;
  stroke: none;
}

.area.joy, .joy .circle {
  fill: #ADD8E6;
  stroke: none;
}

.area.green, .green .circle {
  fill: #66ff33;
  stroke: none;
}

.area.agg, .agg .circle {
  fill: #ccff33;
  stroke: none;
}

.container {
  width: 65%;
  margin: 0 auto;
}